.filterForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'brand'
    'price'
    'mileage'
    'submit'
    'clear';
  margin: 32px auto 40px;
  column-gap: 16px;
  row-gap: 4px;
  width: 100%;
  max-width: 924px;
  align-items: end;
  justify-items:stretch;
}

.label,
.legend {
  color: var(--gray);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33333;
}

.brandField {
  grid-area: brand;
}

.priceField {
  grid-area: price;
}

.input,
.select {
  width: 100%;
  height: 44px;
  border: 0;

  border-radius: 12px;
  padding: 12px 16px;

  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  background-color: var(--white);

  outline: 2px solid transparent;
  outline-offset: -2px;
  transition:
    outline-color var(--transition-time),
    color var(--transition-time);
}

.select {
  appearance: none;
  cursor: pointer;
}

.selectWrapper {
  position: relative;
  display: block;
  margin-top: 8px;
}

.selectIcon {
  position: absolute;
  top: 50%;
  right: 16px;
  pointer-events: none;
  transform: translateY(-50%) rotate(180deg);
  transform-origin: center;
  transition: transform var(--transition-time);
}

.select:open + .selectIcon {
  transform: translateY(-50%) rotate(0deg);
}

.select option {
  color: var(--gray);
  background-color: var(--white);
}

.select option:checked {
  color: var(--main);
}

.select:hover,
.select:focus-visible,
.input:hover,
.input:focus-visible {
  outline-color: var(--light-blue);
}
.mileageContainer {
  grid-area: mileage;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.legend {
  padding: 0;
  padding-bottom: 8px;
}

.mileageInputContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  position: relative;
}

.mileageInputContainer .input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.mileageInputContainer .input:first-of-type {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid #dadde1;
}

.mileageInputContainer .input:last-of-type {
  border-radius: 0 12px 12px 0;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.submitBtn,
.clearBtn {
  border: 0;
  font: inherit;
  cursor: pointer;
  margin-top: 16px;
}

.submitBtn {
  grid-area: submit;
  width: 100%;
  height: 44px;
  padding: 12px 24px;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--light-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  transition: background-color var(--transition-time);
}

.submitBtn:hover,
.submitBtn:focus-visible {
  background-color: var(--dark-blue);
}

.submitBtn:focus-visible,
.clearBtn:focus-visible {
  outline: 2px solid var(--button-hover);
  outline-offset: 2px;
}

.clearBtn {
  grid-area: clear;
  justify-self: center;
  padding: 0;
  color: var(--gray);
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  transition: color var(--transition-time);
}

.clearBtn:hover,
.clearBtn:focus-visible {
  color: var(--main);
}

@media only screen and (min-width: 768px) {
  .filterForm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-areas:
      'brand price'
      'mileage mileage'
      'submit clear';
    row-gap: 16px;
    margin-top: 48px;
  }

  .submitBtn,
  .clearBtn {
    margin-top: 0;
  }

  .submitBtn {
    width: 100%;
  }

  .clearBtn {
    justify-self: center;
    align-self: center;
  }

}

@media only screen and (min-width: 1232px) {
  .filterForm {
    grid-template-columns: 204px 196px 320px 156px;
    grid-template-areas:
      'brand price mileage submit'
      '. . . clear';
    margin: 84px auto 60px;
  }
  .submitBtn {
    width: 156px;
  }

  .clearBtn {
    justify-self: center;
    align-self: center;
  }
}

.selectContentBrand,
.selectContentPrice {
  width: 304px;
}

@media only screen and (min-width: 320px) {
  .selectContentBrand,
  .selectContentPrice {
    width: calc(100vw - 32px);
  }
}

@media only screen and (min-width: 375px) {
  .selectContentBrand,
  .selectContentPrice {
    width: 359px;
  }
}

@media only screen and (min-width: 768px) {
  .selectContentBrand,
  .selectContentPrice {
    width: 344px;
  }
}

@media only screen and (min-width: 1232px) {
  .selectContentBrand {
    width: 204px;
  }

  .selectContentPrice {
    width: 196px;
  }
}
