:root {
	--main: #101828;
	--gray: #8d929a;
	--gray-light: #dadde1;
	--badges: #f2f4f7;
	--inputs: #f7f7f7;
	--white: #fff;
	--button: #3470ff;
	--button-hover: #0b44cd;
	--light-blue: #00aad4;
	--bg: #f5f5f5;
	--dark-blue: #0095ba;
	--error: #ec383b;
	--error-light: #ffdfdf;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--main);
  background-color: var(--bg);
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 8px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1232px) {
  .container {
    max-width: 1232px;
  }
}

.no-split {
  white-space: nowrap;
}

/* body:has(.mobile-menu.is-open) {
  overflow: hidden;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
} */
